<?php
if(!$Secure) die ('Direct access to this page is not allowed');

$MyServer = 'localhost';
$MyUser = 'mysql_user';
$MyPassword = 'mysql_password';
$MyDatabase = 'mysql_database';
$SystemEmail = 'manager@foodhub-domain.org.uk';
$BaseURL = 'http://www.foodhub-domain.org.uk/installdir';
$BasePath = '/filesystem/path/to/url/root';
$LogoFile = 'logo.jpg';
?>
